.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev, .swiper-button-next{
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev{
    background-image: url('../../../public/rich-tales/home-images/arrow-left.svg');
}

.swiper-button-next{
    background-image: url('../../../public/rich-tales/home-images/arrow-right.svg');
}

@media(max-width: 1200px){
    .swiper-slide div{
        width: 40vw;
    }
}

@media (max-width: 1000px){
    .swiper-slide div{
        width: 90%;
    }
}

@media (max-width: 400px){
    .swiper-slide div{
        width: 85%;
    }
    .swiper-slide div img{
        width: 100%;
    }
}